/.idea
*.iml
*.csv
/venv
!*.exe
info.db
/instagram/chromedriver.exe
/stresstest/servers.json
/webhard/private_info.xml
/webhard/chromedriver.exe
/sample
/temp
chromedriver.exe
/share_test/share_ids.xml
/share_test/README
/share_test/build/
/share_test/dist/
/share_test/share_test.spec
/my/build/
/my/dist/
/my/naver_cafe.spec
/my/images/
